/* meta.css */

.meta-container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
}

.meta-container label {
  grid-column: 1;
  text-align: left;
  font-weight: bold;
  color: #a52a2a;
  text-transform: uppercase;
}

.meta-container input[type="text"] {
  grid-column: 2;
  width: auto;
  margin: 0;
  border: none;
  border-bottom: 2px solid #a52a2a;
  border-radius: 0;
  background-color: #f8f8f8;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  padding: 2px 5px;
}
