/* stats.css */

.stats-container {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  row-gap: 5px;
  margin-bottom: 10px;
}

.stats-container label {
  margin: 0;
}

.skill-item,
.domain-item {
  display: contents;
}

.skill-item label,
.domain-item label {
  color: #000;
  font-weight: normal;
  text-transform: none;
}

.stats-container input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 2px 5px;
  border: none;
  border-bottom: 2px solid #a52a2a;
  border-radius: 0;
  background-color: #f8f8f8;
  color: black;
  font-size: 0.8em;
  font-weight: normal;
  transition: font-size 0.2s ease;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.skill-item input[type="checkbox"],
.domain-item input[type="checkbox"] {
  display: none;
}

.skill-item label::before,
.domain-item label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  border: 2px solid #a52a2a;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill-item input[type="checkbox"]:checked + label::before,
.domain-item input[type="checkbox"]:checked + label::before {
  background-color: #a52a2a;
  transform: scale(1.2);
}

.skill-item input[type="checkbox"]:not(:checked) + label::before,
.domain-item input[type="checkbox"]:not(:checked) + label::before {
  transform: scale(1);
}

.stats-header {
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 5px;
}

.stats-header label {
  color: #a52a2a;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: bold;
}
